<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p class="bg-danger"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
        <p class="bg-success"><%- messages.success %></p>
<% } %>	

<table class="table table-hover">
	<thread>
        	</tr>
                <th>Username</th>
                <th>Fullname</th>
                <th>Department</th>
                <th>Email</th>
                <th>Action</th>
        	</tr>
        </thread>

	<!--
		Using FOREACH LOOP for the users array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
	<% if (data) { %>
	<% data.forEach(function(user){ %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.fullname %></td>
			<td><%= user.department %></td>
			<td><%= user.email %></td>
			<td>
				<div style="float:left">
					<a href='/users/edit/<%= user.id %>'>Edit</a> &nbsp;							
					<form method="post" action="/users/delete/<%= user.id %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete? <%= user.id %>' )" />
						<input type="hidden" class="btn btn-info" name="_method" value="DELETE" />
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>
        </tbody>
</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
